#button-container {
  margin-left: 25vw;
}

/*html.blue {
  background-color: blue;
}

html.red {
  background-color: red;
}

html.yellow {
  background-color: yellow;
}

html.green {
  background-color: green;
}

html.pink {
  background-color: pink;
}

html.black {
  background-color: black;
}*/
